<h3> Crea un nuevo avuncio:</h3>
<ion-list>
  <ion-item>
    <ion-input
      [(ngModel)]="titulo"
      required="required" 
      minlength="5"
      #tituloInput="ngModel"
      label="Tiulo" 
      placeholder="" 
      labelPlacement="stacked"/>
    <ion-input 
      [(ngModel)]="descripcion"     
      required="required" 
      minlength="20"
      #descripcionInput="ngModel"
      label="Descripcion" 
      placeholder="" 
      labelPlacement="stacked" />
    <ion-button (click)="tomarFoto()">Tomar foto</ion-button> 
    <!-- prueba boton para tomar fotos  -->
    <ion-button 
      [disabled]="!tituloInput.valid || !descripcionInput.valid" 
      (click)="agregarAviso();tituloInput.control.markAsPristine();tituloInput.control.markAsUntouched()"
      slot="end" 
      fill="clear"
      aria-label="Agrega tu aviso">
      <ion-icon slot="icon-only" name="add-circle-outline" />
    </ion-button>  
  </ion-item>

  <ion-item>
    <ion-text 
      [hidden]="tituloInput.valid || tituloInput.pristine"
      color="danger"
    >El titulo del anuncio debe tener 5 o más caracteres!</ion-text>
    <ion-text 
      [hidden]="descripcionInput.valid || descripcionInput.pristine"
      color="danger"
    >La descrioción del anuncio no puede tener menos de 20 caracteres!</ion-text>
  </ion-item>
</ion-list>
